/* You can add global styles to this file, and also import other style files */

html, body {
    padding: 0;
    margin: 0;
    background: #9aa5aa;
}

h1, h2, h3, h4, h5 {
    font-weight: bold;
}

.match-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: #fff;
}

.match-item {
    min-width: 350px;
    height: 280px;
    background: #505f78;
    padding: 10px;
    margin: 10px 5px;
    border: 1px solid #ddd;
    border-radius: 10px;
}

.flag {
    width: 64px;
    height: 48px;
    margin: 5px;
}

.flag-sm {
	width: 24px;
    height: 18px;
}

.score {
    color: #ff9191;
}

.input-score {
	width: 75px;
	display: inline-block;
	margin: 0 20px;
}

.form-container {
	background: #1d2731;
	max-width: 500px;
	margin: 10px auto;
	border: 1px solid rgba(147, 184, 189, 0.8);
	border-radius: 5px;
	padding: 5px 15px;
    color: #fff;
}

.form-icon {
	background-color: #1d2731;
	color: #fff;
	border-radius: 5px;
}

/** Start:- screen overlay */
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 2;
	cursor: pointer;
	color: #6495ed;
	display: flex;
	align-items: center;
	justify-content: center;
}
/** End:- screen overlay */
