<div class="container-fluid text-center" *ngIf="fixtures && teams">
    <h3> FIFA World Cup 2018 Standings</h3>
    
    <div class="match-box">
        <div class="match-item" *ngFor="let groupName of getKeys(standings)">
            <p><strong>{{ groupName }}</strong></p>
            <table class="table table-bordered table-responsive">
                <tr>
                    <th>Team</th>
                    <th>F</th>
                    <th>P</th>
                    <th>W</th>
                    <th>L</th>
                    <th>D</th>
                    <th>GS</th>
                    <th>GC</th>
                    <th>Pts</th>
                </tr>
                <tr *ngFor="let team of standings[groupName]">
                    <td>{{ team.name }}</td>
                    <td><img class="flag-sm" [src]="getTeamFlag(team.name)"/></td>
                    <td>{{ team.p }}</td>
                    <td>{{ team.w }}</td>
                    <td>{{ team.l }}</td>
                    <td>{{ team.d }}</td>
                    <td>{{ team.gs }}</td>
                    <td>{{ team.gc }}</td>
                    <td>{{ team.pts }}</td>
                </tr>
            </table>
        </div>
    </div>

    
</div>